
   .container {
    background-color: #62D0DF;
    display: grid;
    grid-template-columns: 62.93% 37.07%;
    grid-template-rows: 200px 404px;
  }
  
  .h2 {
    color: white;
    font-size: 36px;
    font-style: italic;
    grid-row: 1;
    grid-column: 1;
    margin-left: 50px;
    margin-top: 140px;
    max-width: 400px;
    font-weight: 400;
  }
  
  .image {
    width: auto;
    grid-column: 2;
    grid-row: 1/2;
  }
  
  .p {
    font-style: italic;
    font-size: 24px;
    color: white;
    grid-row: 2;
    grid-column: 1;
    margin-left: 50px;
    max-width: 580px;
    text-align: justify;
    line-height: 35px;
  }