.text{
color: #22356F;
font-family: ABeeZee;
font-size: 24px;
font-style: italic;
font-weight: 400;
line-height: 141.84%; /* 34.042px */
letter-spacing: 0.12px;
margin-top: 251.58px;
margin-bottom: 137.96px;
margin-left: 397px;
margin-right: 304px;
line-height: 1.5;
}